<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            margin-bottom: 100px;
        }
    </style>    
</head>
<body>
    <h1 align="center">💧✨ Water Segmentation ✨💧</h1>
    <form method="POST" enctype="multipart/form-data" align="center">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
